html {font-family: "Arial";}
.container {padding-left: 50px;}
#searchForm {padding-top: 20px;}
.imagelist li {list-style: none; display:inline-block; padding: 10px;}
.active-page {font-weight: bold;}
.thumb-title {font-size: 10px; width:100px;}
input[type="text"] {width:250px;height:20px;font-size: 17px; color: #999;}